# This workflow runs the download_youthmappers.py script to access the OSMTeams API and 
# download all of the YouthMappers user info

name: Download YouthMappers Org from OSMTeams

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests pandas
    - name: Download YouthMappers Data
      env:
        OSM_TEAMS_ACCESS_TOKEN: ${{ secrets.OSM_TEAMS_ACCESS_TOKEN }}
        DEBUG: ${{ env.OSM_TEAMS_ACCESS_TOKEN }}
      run: |
        python3 download_youthmappers.py
