name: Update YouthMappers List on s3 from OSMTeams

on:
  schedule:
    - cron: "0 5 * * 1,3,5"

  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  run:
    name: Fetch YouthMappers Data and Upload to S3
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: "3.11"
        
    - name: Set up uv
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies
      run: uv sync --extra google
    
    - name: Obtain latest list of YouthMappers
      env:
        OSM_TEAMS_ACCESS_TOKEN: ${{ secrets.OSM_TEAMS_ACCESS_TOKEN }}
        YGL_GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_SERVICE_ACCOUNT }}
      run: uv run youthmappers --teams --conflate --osm

    - name: Fetch AWS Credentials
      uses: aws-actions/configure-aws-credentials@v5
      with:
        role-to-assume: ${{ secrets.YOUTHMAPPERS_AWS_ROLE }}
        aws-region: us-east-1

    - name: Copy YouthMappers GeoParquet file to s3
      run: aws --region us-east-1 s3 cp youthmappers.zstd.parquet s3://youthmappers-internal-us-east1/mappers/ds=$(date +'%Y-%m-%d')/youthmappers.zstd.parquet

    # - name: Update chapters list on s3
    #   run: aws --region us-east-1 s3 cp chapters.json s3://youthmappers-internal-us-east1/json/chapters.json
      
    # - name: Update mappers list on s3
    #   run: aws --region us-east-1 s3 cp members.json s3://youthmappers-internal-us-east1/json/mappers.json

